numba==0.49.1rc1
numpy==1.19.4
openpyxl==3.0.7
xlsxwriter==1.4.3
h5py==2.10.0
scipy==1.4.1
pandas==1.0.3
pytest==5.4.2
coverage==5.5
matplotlib==3.2.1
pytest-mock==3.3.1
astropy==4.1
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
seaborn==0.11.0
setuptools==50.3.2
tables==3.6.1
PyQt5==5.15.2
packaging==20.4
camb==1.1.2
sphinx-autodoc-typehints==1.12.0
sphinx-automodapi==0.13
sphinx-rtd-theme==0.5.2
